.avater {
    border-radius: 20px 20px;
    width:36px;
    margin-right:10px;
    float:left;
}
.qiitaLabel {
    background:rgb(85, 197, 0);
    color:#fff;
    padding:5px;
    border-radius:8px;
}
.devtoLabel {
    background:#fdf9f3;
    padding:5px;
    border-radius:8px;
}
.hatebLabel {
    background:#00a4de;
    color:#fff;
    padding:5px;
    border-radius:8px;
}
.qrunchLabel {
    width: 65px;
    text-align: center;
    color:#fff;
    background:#00ADB5;
    padding:5px;
    border-radius:8px;
}
.url {
    word-wrap: break-word;
}
.navbar-item img {
  max-height: 60px;
}
