<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104646571-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104646571-2');
    </script>
    <title>たぐまる</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" size="96x96" href="/icon-96.png">
    <link rel="icon" type="image/png" size="144x144" href="/icon-144.png">
    <link rel="icon" type="image/png" size="192x192" href="/icon-192.png">
    <link rel="apple-touch-icon" type="image/png" size="96x96" href="https://tagmaru.me/icon-96.png">
    <link rel="apple-touch-icon" type="image/png" size="144x144" href="https://tagmaru.me/icon-144.png">
    <link rel="apple-touch-icon" type="image/png" size="192x192" href="https://tagmaru.me/icon-192.png">
    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:site" content="@_anharu2" /> 
    <meta property="og:url" content="https://tagmaru.me" /> 
    <meta property="og:title" content="たぐまる - エンジニアのための情報収集サービス" /> 
    <meta property="og:description" content=" エンジニアのための情報収集サービス、たぐまる" /> 
    <meta property="og:image" content="https://tagmaru.me/icon-192.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="tagmaru">
		<%= stylesheet_pack_tag 'application', media: "all" %>
    </head>

  <body>
      <div id="root" >
          <%= yield %>
      </div>
      <%= javascript_pack_tag 'application' %>
  </body>
</html>
